@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');
@import '@/style/_variables.scss';

body {
  margin: 0px;
}

h4 {
  font-size: 1rem;
}
#app {
  font-family: 'NanumSquareNeo', nomal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000;

  position: relative;
  max-width: 840px;
  width: 100%;
  min-width: 340px;
  margin-left: auto;
  margin-right: auto;
}
hr {
  border: 0;
  border-top: 1px solid #b3b3b3;
}
.page {
  margin-top: 100px;

  font-weight: 600;
  h3 {
    font-weight: 900;
    margin-bottom: 50px;
    font-size: 1.3rem;
  }
}
.info-text {
  font-size: 0.9rem;
  white-space: pre-line;
}
.impact-text {
  font-family: Impact;
}
.default-btn {
  padding: 8px 10px;
  border: none;
  border-radius: 6px;
  color: #575757;
  font-size: 0.77rem;
  background-color: #f1f2f4;
}

footer {
  text-align: center;
  position: absolute;
  width: 100%;
  font-size: 0.75rem;
  font-weight: bold;
  color: #717171;
  padding: 25px 0;
  background-color: white;
}
.text-small {
  font-size: 0.8rem;
}
.text-normal {
  font-weight: 600 !important;
}

.text-semi-bold {
  font-weight: 800 !important;
}

.text-bold {
  font-weight: 900 !important;
}
